
body {
	color: ghostwhite;
	background-image: url("https://img5.goodfon.com/wallpaper/nbig/8/58/dizain-design-neon-light-room-background-neon-abstract.jpg");
	text-align: center;
}

.container {
	display: inline-flex;
}


